.singleton-container {
    background-color: rgb(181, 255, 255);
    padding: 1rem;
}

.factory-container {
    background-color: rgb(181, 255, 227);
    padding: 1rem;
}

.factory-method-container {
    background-color: rgb(223, 255, 226);
    padding: 1rem;
}

div {
    margin: 1rem;
}

.abstract-factory-container {
    background-color: rgb(217, 255, 181);
    padding: 1rem;
}

.builder-container {
    background-color: rgb(255, 196, 181);
    padding: 1rem;
}