<h1>{{ title | uppercase }}</h1>

<div class="singleton-container">
  <h2>1: Singleton Pattern</h2>
  Instance of API Service from App Component: {{singletonInstance}}
  
  <app-singleton-example></app-singleton-example>
</div>

<div class="factory-container">
  <h2>2. Factory Pattern </h2>
  <app-factory></app-factory>
</div>

<div class="factory-method-container">
  <h2>3. Factory Method Pattern</h2>
  <app-factory-method></app-factory-method>
</div>

<div class="abstract-factory-container">
  <h2>4. Abstract Factory Pattern</h2>
  <app-abstract-factory></app-abstract-factory>
</div>

<div class="builder-container">
  <h2>5. Builder Pattern</h2>
  <app-builder></app-builder>
</div>

<div class="person-builder-container">
  <h2>5A. Builder Pattern with Person Builder example</h2>
  <app-person-builder></app-person-builder>
</div>
